* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */
/* menù header */
.container {
  width: 80%;
  margin-left: auto;
}

.head-title {
background-color: blue;
height: 350px;
}

/* barra alta titolo  */

.container-up-header {
  /* height: 50px; */
  background-color: blue;
}



.logo{
  background-color: blue;
  float: left;
  /* height: 50px; */
  /* width: : 33.33%; */
}

.list-header {
  float: left;
  background-color: blue;
  /* width: 33.33%; */
  text-align: center;
  line-height: 50px;
  margin: 0 30px;
}

.container-up-header::after {
  content: "";
  display: block;
  clear: both;
}

.list-header li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 10px;
}

.list-header a {
  list-style: none;
  text-decoration: none;
  color: white;
}
/* button */
.list-header button {
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  border-radius: 5px;
}

/* 1st button */
#b-blue {
  background-color: blue;
  border: 1px solid white;
  padding: 5px 12px;
}
/* /1st button */

/* 2nd button */
#b-green {
  background-color: #4CAF50;
  border: 2px solid  #4CAF50;
  padding: 5px 12px;
}

.list-header button:hover a{
  text-decoration: underline;
}
/* /2nd button */
/* /button */
/* /barra alta titolo */

/* titolo principale */
.container-bottom-header {
  height: 300px;
  background-color: blue;
  background-size: 700px;
  background-repeat: no-repeat;
  background-image: url("../img/background-header.png");
  background-position: bottom right;
  position: relative;
}

.main-title {
  display: inline-block;
  padding: 0 15px;
  color: white;
  text-transform: uppercase;
}



/*/ menù header */
