* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header */

.head-title {
background-color: yellow;
height: 350px;
}

.container-up-header {
  height: 50px;
  background-color: blue;

}



.logo{
  background-color: blue;
  float: left;
  height: 50px;
  width: : 33.33%;
}

.list-header {
  float: left;
  background-color: blue;
  width: 33.33%;
  text-align: center;
  line-height: 50px;
}

.container-up-header::after {
  content: "";
  display: block;
  clear: both;
}

.list-header li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 10px;
}

.list-header a {
  text-decoration: none;
  color: white;
}
